pathlib
pandas-path
matplotlib
numpy
pandas
rasterio
random
albumentations
opencv
torch
pytorch-lightning
segmentation-models-pytorch
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
